{
    "presets":[
        "es2015", "react", { "modules": false }
    ],
    "env": {
	    "test": {
	      "plugins": ["transform-es2015-modules-commonjs"],
	      "presets": ["es2015", "react"]
	    }
    }
}