.progress-bar-container {
  border-style: solid;
	border-width: .1em;
  width: 80vh;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  vertical-align: middle; 
}

.progress-bar-inner {
  font-size: 1.3em;
  font-weight: bold;
  height: 100%; 
}

//--------------- Themes ---------------//

.default {
  color: white;
  border-color: black;
  background-color: #eff1f4;
  .progress-bar-inner {
    background: #299a0b;
  }
}

.arctic {
  color: white;
  border-color: black;
  background-color: #eff1f4;
  .progress-bar-inner {
    background: #6db3f2; /* Old browsers */
    background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 39%, #3690f0 64%, #1e69de 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 39%,#3690f0 64%,#1e69de 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 39%,#3690f0 64%,#1e69de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
  }
}

.cyber {
  color: white;
  border-color: black;
  background-color: #eff1f4;
  .progress-bar-inner {
    background: #f3c5bd; /* Old browsers */
    background: -moz-linear-gradient(top, #f3c5bd 0%, #e86c57 36%, #ff6600 71%, #c72200 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f3c5bd 0%,#e86c57 36%,#ff6600 71%,#c72200 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f3c5bd 0%,#e86c57 36%,#ff6600 71%,#c72200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
  }
}

